[Unit]
Description=Kiwix Wikimedia Server
After=network.target

[Service]
Type=forking
User=pi
WorkingDirectory=/home/pi/content/kiwix
ExecStart=/usr/bin/kiwix-serve --daemon --port=8099 --library /home/pi/content/kiwix/library.xml


[Install]
WantedBy=multi-user.target
