[Unit]
Description=KiwiIRC Web Frontend Server
After=network.target

[Service]
Type=forking
User=chip
WorkingDirectory=/home/chip/KiwiIRC
ExecStart=/home/chip/KiwiIRC/kiwi start

[Install]
WantedBy=multi-user.target
